* {
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}

body {
    margin: 0 !important;
}

nav {
    height: 10vh;
    min-height: 65px;
    width: 100%;

    display: flex;
    align-items: center;
    
    background:  rgba(61, 109, 187, 0.5) url('https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max') center top;
    background-size: cover;
}

ul {
    display: flex;
    width: 80%;

    list-style: none;
    justify-content: space-around;
}

#navLogo {
    margin-left: 80px;
}